$hoverColor:rgba(255, 215, 0, 1);
$fontsizeDesktop:17px;
$fontsizetablet:15px;

.NavLinkmobile{
    list-style: none;
    padding:0;
    display: none;
    @media (max-width:480px) {
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-column-gap: 10px;
        justify-items: center;
        margin: 0 auto;
        width: 98%;
    }
    >li{
       text-align: center;
       width: fit-content;
       height: 25px;
      >a{
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
        position: relative;
        color: white;
        font-size: $fontsizeDesktop;
        @media (max-width:780px) {
           font-size:$fontsizetablet;
        }
        >span{
            position: absolute;
            bottom: 0px;
            left: 0;
            height: 2px;
            border-radius: 30px 30px 0px 0px;
            width: 0%;
            background-color:$hoverColor;
            transition: width 300ms;
        }
        &:hover .borderSelect {
            width:100%;
        }
        &:hover{
            color: $hoverColor;
        }
      }
    }
    .active2{

        >a{
            color: $hoverColor;
            >span{
                width: 100%;
            }
        }
    }
}