$backgroundColor:#a89008ea;




@mixin ul($display,$column,$gap ){
    list-style: none;
    padding: 0px;
    display: $display;
    grid-template-columns:repeat($column,1fr);;
    grid-column-gap:$gap;
}


.Dashboard{
    width: 950px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 90px;
  //  background-color: rgba(0, 0, 0, 0.09);
  //  padding:10px 20px 5px  20px;
  //  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media (max-width:1008px) {
        width: 100%;
    }
    @media (max-width:780px) {
        width: 97%;
    }
    >ul {   
        @include ul(grid,2,4px);
        grid-template-columns:1fr 3fr;
        grid-row-gap:40px;
        grid-template-areas:
        "one two"
        "three three";
        .transaction {
            grid-area: three;
        }
       
        @media (max-width:1008px) {
            @include ul(grid,1,4px);
            grid-template-areas:
            "one""two""three";
            .cards {
                grid-area: one;
            }
            .pending {
                grid-area: two;
            }
            .transaction {
                grid-area: three;
            }
        }
        .cards{  
            .cardsContent{
                @include ul(grid,1,4px);
                grid-row-gap:30px;
                >li{
                    >div{
                        width: 285px;
                        height: 100px;
                        background-color: rgb(232, 230, 230);
                        border-bottom-left-radius: 20px;
                        border-top-right-radius: 20px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        background-color: $backgroundColor;
                        >h3{
                            text-align: center;
                            color: white;
                            padding-top: 10px;
                            margin-bottom: 10px;
                            font-size: 15px;
                        }
                        >h5{
                            text-align: center;
                            color: white;
                            padding-top: 10px;
                            margin-bottom: 10px;
                        }
                        >div{
                            width: fit-content;
                            margin: 0 auto;
                        }
                    }
                }
                @media (max-width:1008px) {
                    @include ul(grid,3,2px);
                    justify-items: center;
                    >li{
                        >div{
                            width: 220px;
                            height: 95px;
                            >h5{
                                font-size: 12px;

                            }
                        }
                    }
                }
                @media (max-width:762px) {
                    @include ul(grid,1,2px);
                    >li{
                        >div{
                            width: 300px;
                            height: 100px;
                            >h5{
                                font-size: 13px;

                            }
                        }
                    }
                }
            }
        }
        .pending{
            display: block;
            .pendingContainer{
                width: fit-content;
                .tableHead{
                    margin-bottom: 10px;
                }
            }
            .projectMobile{
                display: none;
                .cardHead{
                    color: green;
                    font-size: 25px;
                }
                @media (max-width:762px) {
                    display: block;
                    width: 98%;
                    margin: 0 auto;
                }
            }
            .project{
                @media (max-width:762px) {
                    display: none;
                }
            }
            .emptyProject{
                margin: 50px auto;
            }
        }
        .transaction{
            display: block;
            .containerTransaction{
                width: fit-content;
                .tableHead{
                    margin-bottom: 10px;
                }
            }
            .projectMobile{
                display: none;
                .cardHead{
                    color: green;
                    font-size: 25px;
                }
                @media (max-width:762px) {
                    display: block;
                    width: 98%;
                    margin: 0 auto;
                }
            }
            .Transaction{
                @media (max-width:762px) {
                    display: none;
                }
            }
            .emptyTransaction{
                margin: 50px auto;
            }
        }
    }
}