.carousel-container{
    div{
        img{
            height: 70px;
            display: block;
            margin: 0 auto;
            @media (max-width:480px) {
                height: 50px;
            }
        }
    }
}