$text:#FFFFFF;
$hovercolor:#FFC299;
$fontFamily:'Poppins', sans-serif;
$bottomNavBackgroundcolor:#181818;
$sizeNavText:12px;


.HomeBottomNavContainer{
    display: none;
}
@media (max-width:480px) {
    .HomeBottomNavContainer{
        display: block;
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color:$bottomNavBackgroundcolor;
        .HomeBottomNav{
            display: flex;
            width: 93%;
            margin: 0 auto;
            justify-content:space-between;
            text-align: center;
            padding: 5px 0px ;
            >li{ 
                li{
                    color:$text;
                    font-family: $fontFamily;
                    font-size: $sizeNavText;
                }
                .HomeBottomNavAncho{
                    text-decoration: none;                                                                                                  
                }
                .active li{
                    color: $hovercolor;
                }
                ul li span{
                    font-family: $fontFamily;
                }
            }
        }
    }
}

